*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contaner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 172, 172);
    border-radius: 40px;
    height: 700px;
    width: 550px;
}

.name{
    font-size: 45px;
    font-weight: bold;
}


.board{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    width: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.child{
    font-size: 60px;
    font-weight: bold;
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid rgb(204, 179, 179);
    background-color: rgb(217, 237, 255);

    display: flex;
    justify-content: center;   /* left ↔ right */
    align-items: center;       /* top ↕ bottom */
}


.child:hover{
    background-color:white;
    border: 3px dashed rgb(17, 16, 16) ;
}

.buttan{

}
.but{
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid black;
    background-color: rgb(14, 196, 1);
    border-radius: 20px;
}

#WinMassage{
    font-size: 30px;
    font-style:italic;
    margin-top: 13px;
}

.xx1{
    position: absolute;
    margin-right: 250px;
}
.oo1{
    position: absolute;
    margin-left: 250px;
}
.xx1, .oo1{
    width: 350px;
    height: 350px;
    transition: transform 0.4s ease;
}


.active-player{
    transform: scale(1.5);   /* zoom only */
}

.player-box{
    position: relative;
    width: 350px;     /* image size অনুযায়ী */
    height: 450px;    /* text + image space */
    display: flex;
    justify-content: center;
    align-items: flex-end;  /* image নিচে বসবে */
}


.tex{
    position: absolute;
    top: -100px;
    font-size: 32px;
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding: 8px 18px;
    border-radius: 20px;
    z-index: 5;
}

/* Player X → একটু left */
.tex-x{
    left: 16%;
    transform: translateX(-50%);
}
/* Player O → আরও right */
.tex-o{
    right: 16%;
    transform: translateX(50%);
}




